
@{
    ViewBag.Title = "Search";
}
<link href="~/ProjectStyle.css" rel="stylesheet" />
<left><h2><input type="button" id="btnHome" value="Freelance4You" onclick="location.href='@Url.Action("Home", "Main")'" /></h2></left>
<br />
<center>
    <h1>Search</h1>
    <br /><br />
    <p><label>Skills:</label> <br /> <input type="checkbox" name="Gardening" value="Gardening" /><label> Gardening</label><input type="checkbox" name="TreeFelling" value="Tree Felling" /><label> Tree Felling</label><input type="checkbox" name="LapaRepairs" value="Lapa Repairs" /><label> Lapa Repairs</label><input type="checkbox" name="Construction" value="Construction" /><label> Construction</label><input type="checkbox" name="DomesticWork" value="Domestic Work" /><label> Domestic Work</label></p>
    <p><label>Province:</label> <select class="form-control" id="Province" name="Province"> <option>Gauteng</option> <option>Limpopo</option> <option>Mpumalanga</option> <option>North West</option> <option>Free State</option> <option>Kwazulu Natal</option><option>Eastern Cape</option> <option>Western Cape</option> <option>Northern Cape</option></select> </p>
    <p><label>City/Town:</label> <br /> <input type="text" id="txtCity" name="City" value=" " /></p>
    <p><label>Minimum Experience:</label> <br /><input type="text" id="txtExperience" value=" " /></p>
    <p><label>Wage: R</label> <br /><input type="text" id="txtWage" name="Wage" value=" " /></p>
    <input type="button" id="btnSearch" value="Search" onclick="location.href='@Url.Action("SearchResults", "Main")'" />

</center>

